# Хост приложения:
APP_HOST=wordpress.docker.local

# Путь внутри контейнера, куда docker-compose монтирует корень репозитория (./:${APP_PATH})
APP_PATH=/pub/www/app

# Доступы для СУБД (все поля обязательны):
# DB_CONNECTION — драйвер. Допустимо: mysql, mariadb
DB_CONNECTION=mariadb
DB_HOST=database
# DB_PORT — порт СУБД (для MariaDB и MySQL — 3306)
DB_PORT=3306
DB_DATABASE=wordpress
DB_USERNAME=login
DB_PASSWORD=pass

# Префикс таблиц WordPress. Если не задан, используется wp_
WP_TABLE_PREFIX=wp_

# Локаль ядра и сайта, например ru_RU или en_US
WP_LOCALE=ru_RU

# Данные первой установки. Повторный запуск контейнера их не перезаписывает
WP_TITLE=WordPress
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=pass
WP_ADMIN_EMAIL=admin@example.com

# Если установить значение 1, то wp cron event run --due-now будет выполняться раз в минуту
# Если установить значение 0, то задачи WordPress запускаются при открытии сайта
WORDPRESS_CRON_ENABLED=0

# Если переменная MAILPIT_ENABLED задана, допустимы только значения 0 или 1
# Если значение 1, то mailpit будет перехватывать письма
# Если значение 0, то mailpit не будет перехватывать письма
# (контейнер mailpit обязательно нужен)
MAILPIT_ENABLED=0
MAILPIT_HOST=mailpit:1025
